<section id="educacao" class="pin-panel">
  <div>
    <h2>{{ 'educacao.title' | t }}</h2>
    <div>
      <div>
        <div>2023</div>
        <div>
          <h3>{{ 'educacao.item1.title' | t }}</h3>
          <p>{{ 'educacao.item1.institution' | t }}</p>
        </div>
      </div>
      <div>
        <div>2023–2024</div>
        <div>
          <h3>{{ 'educacao.item2.title' | t }}</h3>
          <p>{{ 'educacao.item2.institution' | t }}</p>
        </div>
      </div>
      <div>
        <div>2022-2023</div>
        <div>
          <h3>{{ 'educacao.item3.title' | t }}</h3>
          <p>{{ 'educacao.item3.institution' | t }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
