<section>
  <div>
    <h2>Educação e Certificações</h2>
    <div>
      <div>
        <div>
          2023–2027
        </div>
        <div>
          <h3>Bacharelado em Engenharia de Software</h3>
          <p>Cruzeiro do Sul Virtual</p>
        </div>
      </div>
      <div>
        <div>
          2023–2024
        </div>
        <div>
          <h3>Programação de Computadores e Aplicativos</h3>
          <p>ADA University</p>
        </div>
      </div>
      <div>
        <div>
          2022-2023
        </div>
        <div>
          <h3>Front-End Specialist</h3>
          <p>Desenvolvimento Web Moderno</p>
        </div>
      </div>
    </div>
  </div>
</section>

