<section id="experiencia">
  <div>
    <h2>{{ 'experiencia.title' | t }}</h2>

    <div>
      @for (exp of experiences; track exp.id) {
        <div>
          <div></div>
          <div>
            <div>
              <h3>{{ exp.roleKey | t }}</h3>
              <p>{{ exp.company }}</p>
            </div>
            <div>
              {{ exp.periodKey | t }} | {{ exp.locationKey | t }}
            </div>
          </div>
          <ul>
            @for (highlight of exp.highlightKeys; track highlight) {
              <li>
                <span aria-hidden="true">•</span>
                <span>{{ highlight | t }}</span>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</section>
