<section id="experiencia">
  <div>
    <h2>Experiência Profissional</h2>

    <div>
      @for (exp of experiences; track exp.id) {
        <div>
          <div></div>
          <div>
            <div>
              <h3>{{ exp.roleKey }}</h3>
              <p>{{ exp.company }}</p>
            </div>
            <div>
              {{ exp.periodKey }} | {{ exp.locationKey }}
            </div>
          </div>
          <ul>
            @for (highlight of exp.highlightKeys; track highlight) {
              <li>
                <span>•</span>
                <span>{{ highlight }}</span>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </div>
</section>
