<nav>
  <div>
    <span>CN.</span>
    <div>
      <a [routerLink]="['/home']" fragment="inicio">{{ 'nav.inicio' | t }}</a>
      <a [routerLink]="['/home']" fragment="sobre">{{ 'nav.sobre' | t }}</a>
      <a [routerLink]="['/home']" fragment="skills">{{ 'nav.skills' | t }}</a>
      <a [routerLink]="['/home']" fragment="experiencia">{{ 'nav.experiencia' | t }}</a>
      <a [routerLink]="['/home']" fragment="projetos">{{ 'nav.projetos' | t }}</a>
      <a [routerLink]="['/home']" fragment="educacao">{{ 'nav.educacao' | t }}</a>
      <div data-lang-toggle>
        <button
          type="button"
          [class.is-active]="language.lang() === 'pt'"
          [attr.aria-label]="'nav.lang.pt.aria' | t"
          (click)="setLang('pt')"
        >
          {{ 'nav.lang.pt' | t }}
        </button>
        <button
          type="button"
          [class.is-active]="language.lang() === 'en'"
          [attr.aria-label]="'nav.lang.en.aria' | t"
          (click)="setLang('en')"
        >
          {{ 'nav.lang.en' | t }}
        </button>
      </div>
    </div>
    <button
      type="button"
      [attr.aria-label]="'nav.menu.open' | t"
      [attr.aria-expanded]="mobileOpen()"
      (click)="toggleMobile()"
    >
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path></svg>
    </button>
  </div>

  @if (mobileOpen()) {
    <div data-backdrop (click)="closeMobile()" aria-hidden="true"></div>
    <div data-mobile-menu>
      <a [routerLink]="['/home']" fragment="inicio" (click)="closeMobile()">{{ 'nav.inicio' | t }}</a>
      <a [routerLink]="['/home']" fragment="sobre" (click)="closeMobile()">{{ 'nav.sobre' | t }}</a>
      <a [routerLink]="['/home']" fragment="skills" (click)="closeMobile()">{{ 'nav.skills' | t }}</a>
      <a [routerLink]="['/home']" fragment="experiencia" (click)="closeMobile()">{{ 'nav.experiencia' | t }}</a>
      <a [routerLink]="['/home']" fragment="projetos" (click)="closeMobile()">{{ 'nav.projetos' | t }}</a>
      <a [routerLink]="['/home']" fragment="educacao" (click)="closeMobile()">{{ 'nav.educacao' | t }}</a>
      <div data-lang-toggle data-lang-toggle-mobile>
        <button
          type="button"
          [class.is-active]="language.lang() === 'pt'"
          [attr.aria-label]="'nav.lang.pt.aria' | t"
          (click)="setLang('pt')"
        >
          {{ 'nav.lang.pt' | t }}
        </button>
        <button
          type="button"
          [class.is-active]="language.lang() === 'en'"
          [attr.aria-label]="'nav.lang.en.aria' | t"
          (click)="setLang('en')"
        >
          {{ 'nav.lang.en' | t }}
        </button>
      </div>
    </div>
  }
</nav>
